.header {
  height: 90px;
  background-color:blue;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
}
.header h1 {
  padding:25px 10px 20px 10px;
  font-size: 28px;
}
.header img {
  padding: 5px;
  margin-left: 10px;
}
.home-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.home-main a {
  color: black;
  font-size: 25px;
}
.back {
  color: white;
  margin-top: 27px;
  right: 20px;
  position: absolute;
  font-size: 20px;
}